.btn {
    text-transform: capitalize;
    margin-left: 10px;
    cursor: pointer;
    min-width: 50px;
    color: rgb(219, 216, 200);
    padding: 2px 10px;
    text-align: center;
    background-color: #0022ba;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
  }